/*Dark & Light Theme*/
html {
  --bg: #fff;
  --bg-pastel: #eed5b9;
  --bg-point: #f88b74;
  --bg-basic: #f5f5f5;
  --color-texta: #1d1d1d;
  --color-textb: #fff;
  --shadow: rgba(0, 0, 0, 0.1);
  --shadow2: rgba(0, 0, 0, 0.3);
}

html[data-theme="dark"] {
  --bg: #000;
  --bg-pastel: rgb(48, 48, 48);
  --bg-point: rgb(232, 191, 183);
  --bg-basic: #000;
  --color-texta: #fcfcfc;
  --color-textb: #1d1d1d;
  --shadow: rgba(255, 255, 255, 0.2);
  --shadow2: rgba(255, 255, 255, 0.5);
}

html.transition,
html.transition *,
html.transition *:after,
html.transition *:before {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: var(--color-textb);
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  counter-reset: #252525;
  line-height: 1.2;
  font-size: 16px;
  background: var(--bg-basic);
  color: var(--color-texta);
}

.pink {
  color: var(--bg-point);
}

/*Transition*/
.transition {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background: var(--bg-pastel);
  z-index: 10000;
  opacity: 1;
  left: 0;
}

.transition img {
  width: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header {
  width: 100%;
  position: fixed;
  background: var(--bg-basic);
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 3px 10px var(--shadow);
          box-shadow: 0 3px 10px var(--shadow);
  z-index: 999;
}

header .header_inner {
  position: relative;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header_inner h1 > a {
  font-size: 1rem;
  color: var(--color-texta);
  opacity: 0.7;
  font-weight: normal;
  letter-spacing: 0.05em;
}

header .header_inner nav .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header_inner nav .gnb li a {
  display: block;
  padding: 0 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

header .header_inner nav .gnb li a::after {
  -webkit-transition: inherit;
  transition: inherit;
  content: "";
  display: block;
  position: absolute;
  left: 1rem;
  bottom: -5px;
  width: 0;
}

header .header_inner nav .gnb li a:hover {
  color: var(--bg-point);
}

header .header_inner nav .gnb li a:hover::after {
  width: calc(100% - 2rem);
  height: 3px;
  background-image: url("../img/pink_dot.svg");
  background-size: contain;
}

header .header_inner nav .gnb li a:not(.pink) {
  color: var(--color-texta);
}

header .header_inner nav .gnb li .pink {
  font-weight: bold;
}

header + main > section {
  margin-top: 70px;
}

.talk-box {
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  width: 4.5rem;
  height: 4.5rem;
  z-index: 5;
}

.talk-box input {
  display: none;
}

.talk-box label {
  position: relative;
  color: var(--color-textb);
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  display: block;
}

.talk-box label:hover {
  -webkit-transform: translate(1px, -1px);
          transform: translate(1px, -1px);
}

.talk-box label span {
  position: absolute;
  text-align: center;
  left: 0.7rem;
  top: 0.7rem;
}

.talk-box label #talk-bubble {
  position: absolute;
  z-index: -1;
}

.talk-box label #talk-bubble #bubble-circle,
.talk-box label #talk-bubble #bubble-tail {
  fill: var(--color-texta);
}

footer {
  background: var(--bg-pastel);
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer div {
  font-size: 14px;
  color: var(--color-texta);
}

.move-area {
  width: 80%;
  height: 90vh;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  margin: 0 auto;
}

.move-area .container {
  width: 150px;
  height: 70px;
  position: absolute;
  bottom: 30px;
  left: 47%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  -webkit-animation: eyeAnim 2s infinite;
          animation: eyeAnim 2s infinite;
}

.move-area .container > p,
.move-area .container i.fas {
  color: var(--color-texta);
  font-size: 18px;
  display: block;
}

.move-area .eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 20px;
  width: 22px;
  background: #ffffff;
  border: 2px solid #000;
  top: 0;
}

.move-area .eye::after {
  /*pupil*/
  position: absolute;
  bottom: 7px;
  right: 7px;
  width: 11px;
  height: 11px;
  background: #000;
  border-radius: 50%;
  content: " ";
}

footer {
  background: var(--bg-pastel);
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer div {
  font-size: 14px;
  color: var(--color-texta);
}

.toggle_box {
  position: absolute;
  top: 80px;
  right: 1rem;
}

.toggle_txt {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-texta);
}

.toggle_box > label {
  color: var(--color-texta);
}

.toggle_box label {
  font-size: 13px;
  margin: 0 5px 10px;
}

.toggle_bar {
  width: 37px;
  height: 18px;
  position: relative;
  display: inline-block;
}

.toggle_bar input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 37px;
  height: 18px;
  background-color: var(--bg-basic);
  outline: none;
  border-radius: 20px;
  -webkit-box-shadow: inset 1px 1px 5px var(--shadow2);
          box-shadow: inset 1px 1px 5px var(--shadow2);
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  cursor: pointer;
}

.toggle_bar input[type="checkbox"]:before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: var(--bg-point);
  position: absolute;
  border-radius: 50%;
  top: 1px;
  left: 0;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
  cursor: pointer;
}

.toggle_bar input:checked[type="checkbox"]:before {
  left: 21px;
}

.tbtn {
  width: 120px;
  height: 200px;
  text-align: right;
  position: fixed;
  left: 88%;
  z-index: 999;
}

.tbtn > i.fas {
  font-size: 35px;
  color: var(--color-texta);
  text-shadow: 1px 1px 1px #111;
  cursor: pointer;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--color-texta);
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  transition-property: background, transform;
  transition-property: background, transform, -webkit-transform;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-backdrop-filter: sepia(20%);
          backdrop-filter: sepia(20%);
  background-size: cover;
}

.cursor-grow {
  width: 20rem;
  height: 12rem;
  border: none;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -110%);
          transform: translate(-50%, -110%);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: sepia(20%);
          filter: sepia(20%);
  background-position: center;
}

.link-grow {
  -webkit-transform: scale(2);
          transform: scale(2);
  background-color: var(--color-texta);
}

.hovered-link {
  color: var(--color-textb) !important;
}

.hovered-link::after {
  background-image: url("../img/white_dot.svg") !important;
}

.modal-bg {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
}

.construction_modal {
  max-width: 800px;
  width: 100%;
  min-height: 500px;
  background: #f0f0f0;
  border-radius: 20px;
  border: 3px solid #000;
  padding-top: 3rem;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  color: #000;
}

.construction_modal hr {
  border: 1px solid #000;
}

.construction_modal .close-btn {
  position: absolute;
  right: 1rem;
  top: 0.7rem;
  font-weight: bold;
  font-size: 1.4rem;
}

.construction_modal img {
  width: 250px;
  margin: 1rem auto;
}

.construction_modal h2,
.construction_modal p {
  margin-bottom: 2rem;
}

.construction_modal h2 {
  font-size: 2.5rem;
  padding-top: 2rem;
}

.construction_modal p {
  font-size: 1.7rem;
  margin-top: 2rem;
  padding-bottom: 1.3rem;
}
/*# sourceMappingURL=style.css.map */